$text-color: #383737;
$red: #ed6a5a;
$beige: #f8f7ed;
$beigeTransparent: rgba(248, 247, 237, 0.5);
$textTransparent: #383737e5;
$blue: #84d8ce;
$darkblue: #1a535c;
$whiteTransparent: #ffffffe5;

$body-font: 'Libre Franklin', sans-serif;
$heading-font: 'Vidaloka', serif;
